.testimonials-title {
    margin-top: 20px;
}

.testimonials-menu {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid #e2e2e2;
}

.testimonials-link {
    position: relative;
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    color: var(--color-grey);
    transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.testimonials-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 4px;
    box-shadow: 0 1px 0 0 var(--color-red);
    opacity: 0;
    transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.testimonials-link:hover::after,
.testimonials-link:focus::after,
.testimonials-link.current::after {
    opacity: 1;
}

.testimonials-link:hover,
.testimonials-link:focus,
.testimonials-link.current {
    color: var(--color-black);
}

.testimonials-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 56px;
}

iframe {
    min-width: 134px;
    height: 334px;
}

.testimonials-list-item {
    display: none;
    opacity: 0;
    transform: translateY(60px) scale(0.95);
    transition: opacity 0.8s ease-out, transform 0.8s cubic-bezier(0.25, 1, 0.5, 1);
} 

 .testimonials-list-item.visible {
    display: flex;
    opacity: 1;
    transform: translateY(0) scale(1);
}

.show-more-btn {
    display: block;
    margin: 0 auto 56px;
    padding: 12px 24px;
    font-size: 14px;
    font-weight: 500;
    color: var(--color-black);
    text-align: center;
    background-color: var(--color-links);
    border: none;
    border-radius: 6px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.show-more-btn:hover {
    background-color: var(--color-light-grey);
    transform: scale(1.05);
}

@media only screen and (min-width: 1280px) {
    .testimonials-title {
        text-align: start;
    }

    .testimonials-menu {
        margin-bottom: 32px;
    }

    iframe {
        width: 100%;
    }

    .testimonials-list {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 90px;
    }

    .testimonials-list-item {
        flex-basis: calc((100% - 90px) / 5 );
        transform: none;
        display: flex;
        opacity: 1;
    }

    .show-more-btn {
        display: none;
    }
}