<section class="testimonials">
  <div class="container comments-container">
    <h2 class="testimonials-title">Відгуки</h2>
    <nav>
      <ul class="testimonials-menu">
        <li class="testimonials-menu-title">
          <a class="testimonials-link current" href="./comments.html"
            >Відео-відгуки</a
          >
        </li>
        <li class="testimonials-menu-title">
          <a class="testimonials-link" href="">Відгуки в соцмережах</a>
        </li>
        <li class="testimonials-menu-title">
          <a class="testimonials-link" href="">Про нас говорять</a>
        </li>
      </ul>
    </nav>
    <ul class="testimonials-list">
      <li class="testimonials-list-item">
        <div class="comments-video-wrapper">
          <iframe
            width="202"
            height="134"
            src="https://www.youtube.com/embed/0a1dky9kp8w"
            frameborder="0"
            title="Відео-відгук Ірини"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          >
          </iframe>
          <ul class="comments-stars-list">
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
          </ul>
          <h3 class="comments-person-name">Ірина</h3>
          <p class="comments-car-type">Peugeot 308</p>
        </div>
      </li>
      <li class="testimonials-list-item">
        <div class="comments-video-wrapper">
          <iframe
            width="202"
            height="134"
            src="https://www.youtube.com/embed/SXV-QIaQQns"
            frameborder="0"
            title="Відео-відгук Антона"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          >
          </iframe>
          <ul class="comments-stars-list">
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
          </ul>
          <h3 class="comments-person-name">Антон</h3>
          <p class="comments-car-type">Kia Sorento 2018</p>
        </div>
      </li>
      <li class="testimonials-list-item">
        <div class="comments-video-wrapper">
          <iframe
            width="202"
            height="134"
            src="https://www.youtube.com/embed/COc3f4lQKDY"
            frameborder="0"
            title="Відео-відгук Віталія"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          >
          </iframe>
          <ul class="comments-stars-list">
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
          </ul>
          <h3 class="comments-person-name">Віталій</h3>
          <p class="comments-car-type">Kia k5</p>
        </div>
      </li>
      <li class="testimonials-list-item">
        <div class="comments-video-wrapper">
          <iframe
            width="202"
            height="134"
            src="https://www.youtube.com/embed/5IAr9kLXjdQ"
            frameborder="0"
            title="Відео-відгук Тимура"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          >
          </iframe>
          <ul class="comments-stars-list">
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
          </ul>
          <h3 class="comments-person-name">Тимур</h3>
          <p class="comments-car-type">BMW 540</p>
        </div>
      </li>
      <li class="testimonials-list-item">
        <div class="comments-video-wrapper">
          <iframe
            width="202"
            height="134"
            src="https://www.youtube.com/embed/Ia1R4Y3XN0g"
            frameborder="0"
            title="Відео-відгук Мар'яна"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          >
          </iframe>
          <ul class="comments-stars-list">
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
          </ul>
          <h3 class="comments-person-name">Мар'ян</h3>
          <p class="comments-car-type">BMW X3</p>
        </div>
      </li>
      <li class="testimonials-list-item">
        <div class="comments-video-wrapper">
          <iframe
            width="202"
            height="134"
            src="https://www.youtube.com/embed/OJ-c9zEjia0"
            frameborder="0"
            title="Відео-відгук Альони"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          >
          </iframe>
          <ul class="comments-stars-list">
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
          </ul>
          <h3 class="comments-person-name">Альона</h3>
          <p class="comments-car-type">Hyundai Tucson</p>
        </div>
      </li>
      <li class="testimonials-list-item">
        <div class="comments-video-wrapper">
          <iframe
            width="202"
            height="134"
            src="https://www.youtube.com/embed/OJ-c9zEjia0"
            frameborder="0"
            title="Відео-відгук Альони"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          >
          </iframe>
          <ul class="comments-stars-list">
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
          </ul>
          <h3 class="comments-person-name">Альона</h3>
          <p class="comments-car-type">Hyundai Tucson</p>
        </div>
      </li>
      <li class="testimonials-list-item">
        <div class="comments-video-wrapper">
          <iframe
            width="202"
            height="134"
            src="https://www.youtube.com/embed/OJ-c9zEjia0"
            frameborder="0"
            title="Відео-відгук Альони"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          >
          </iframe>
          <ul class="comments-stars-list">
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
          </ul>
          <h3 class="comments-person-name">Альона</h3>
          <p class="comments-car-type">Hyundai Tucson</p>
        </div>
      </li>
      <li class="testimonials-list-item">
        <div class="comments-video-wrapper">
          <iframe
            width="202"
            height="134"
            src="https://www.youtube.com/embed/OJ-c9zEjia0"
            frameborder="0"
            title="Відео-відгук Альони"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          >
          </iframe>
          <ul class="comments-stars-list">
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
          </ul>
          <h3 class="comments-person-name">Альона</h3>
          <p class="comments-car-type">Hyundai Tucson</p>
        </div>
      </li>
      <li class="testimonials-list-item">
        <div class="comments-video-wrapper">
          <iframe
            width="202"
            height="134"
            src="https://www.youtube.com/embed/OJ-c9zEjia0"
            frameborder="0"
            title="Відео-відгук Альони"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          >
          </iframe>
          <ul class="comments-stars-list">
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
          </ul>
          <h3 class="comments-person-name">Альона</h3>
          <p class="comments-car-type">Hyundai Tucson</p>
        </div>
      </li>
      <li class="testimonials-list-item">
        <div class="comments-video-wrapper">
          <iframe
            width="202"
            height="134"
            src="https://www.youtube.com/embed/OJ-c9zEjia0"
            frameborder="0"
            title="Відео-відгук Альони"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          >
          </iframe>
          <ul class="comments-stars-list">
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
          </ul>
          <h3 class="comments-person-name">Альона</h3>
          <p class="comments-car-type">Hyundai Tucson</p>
        </div>
      </li>
      <li class="testimonials-list-item">
        <div class="comments-video-wrapper">
          <iframe
            width="202"
            height="134"
            src="https://www.youtube.com/embed/OJ-c9zEjia0"
            frameborder="0"
            title="Відео-відгук Альони"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          >
          </iframe>
          <ul class="comments-stars-list">
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
          </ul>
          <h3 class="comments-person-name">Альона</h3>
          <p class="comments-car-type">Hyundai Tucson</p>
        </div>
      </li>
    </ul>
  </div>
</section>
