<section class="">
  <div class="container">
    <h2 class="benefit-title">Наші переваги</h2>
    <ul class="benefit-list">
      <li class="benefit-item">
        <div class="benefit-wrapper">
          <svg class="benefit-icon">
            <use href="../../img/main/sprite.svg#icon-earth"></use>
          </svg>
          <h3 class="benefit-item-title">20 років на ринку</h3>
          <p class="benefit-item-text">
            Ми транспортуємо авто в порт США, вантажимо на судно та доставляємо
            до України, де проходить митне оформлення.
          </p>
        </div>
      </li>
      <li class="benefit-item">
        <div class="benefit-wrapper">
          <svg class="benefit-icon">
            <use href="../../img/main/sprite.svg#icon-earth"></use>
          </svg>
          <h3 class="benefit-item-title">Доставка по всій Україні</h3>
          <p class="benefit-item-text">
            Ми транспортуємо авто в порт США, вантажимо на судно та доставляємо
            до України, де проходить митне оформлення.
          </p>
        </div>
      </li>
      <li class="benefit-item">
        <div class="benefit-wrapper">
          <svg class="benefit-icon">
            <use href="../../img/main/sprite.svg#icon-earth"></use>
          </svg>
          <h3 class="benefit-item-title">Персональний менеджер</h3>
          <p class="benefit-item-text">
            Ми транспортуємо авто в порт США, вантажимо на судно та доставляємо
            до України, де проходить митне оформлення.
          </p>
        </div>
      </li>
      <li class="benefit-item">
        <div class="benefit-wrapper">
          <svg class="benefit-icon">
            <use href="../../img/main/sprite.svg#icon-earth"></use>
          </svg>
          <h3 class="benefit-item-title">Власне представництво десь там</h3>
          <p class="benefit-item-text">
            Ми транспортуємо авто в порт США, вантажимо на судно та доставляємо
            до України, де проходить митне оформлення.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
