<section class="buying-proccess">
  <div class="container">
    <div class="banner"><img src="" alt="Person"/></div>
    <div class="proccess-list">
      <h2 class="proccess-main-title">Как происходит покупка</h2>
      <div class="process-wrapper">
        <svg class="proccess-icon">
          <use></use>
        </svg>
        <img class="proccess-icon" src="../../img/main/buying/resume.svg" alt="" />
        <h3 class="proccess-title">Оставляете заявку</h3>
        <p class="proccess-description">Вы оставляете заявку на сайте,  либо связываетесь с нами удобным для вас способом.</p>
      </div>
    

      <div class="process-wrapper">
        <svg class="proccess-icon">
          <use></use>
        </svg>
        <img class="proccess-icon" src="../../img/main/buying/conversation.svg" alt="" />
        <h3 class="proccess-title">Заключаем договор</h3>
        <p class="proccess-description">Вы вносите гарантийный депозит.</p>
      </div>


      <div class="process-wrapper">
        <svg class="proccess-icon">
          <use></use>
        </svg>
        <img class="proccess-icon" src="../../img/main/buying/car.svg" alt="" />
        <h3 class="proccess-title">Подбор и покупка авто</h3>
        <p class="proccess-description">Вам предлагаются подходящие варианты с аукционов, Вы принимаете решение, автомобиль выкупается.</p>
      </div>


      <div class="process-wrapper">
        <svg class="proccess-icon">
          <use></use>
        </svg>
        <img class="proccess-icon" src="../../img/main/buying/cargo.svg" alt="" />
        <h3 class="proccess-title">Доставка в РФ и оформление</h3>
        <p class="proccess-description">Мы транспортируем авто в порт Японии, грузим на судно и доставляем во Владивосток, где проходит таможенное оформление</p>
      </div>


      <div class="process-wrapper">
        <svg class="proccess-icon">
          <use></use>
        </svg>
        <img class="proccess-icon" src="../../img/main/buying/truck.svg" alt="" />
        <h3 class="proccess-title">Доставка до вашего города</h3>
        <p class="proccess-description">Мы доставляем авто в любой регион России выбранным Вами способом, либо Вы сами забираете его во Владивостоке.</p>
      </div>


      <div class="process-wrapper">
        <h3 class="proccess-title">Залишити заявку</h3>
        <svg class="proccess-icon">
          <use width ="28" href="../../img/main/sprite.svg#icon-send"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
