<section class="section-buying-proccess">
  <div class="container buying-proccess">
    <div class="banner">
      <img src="/img/main/buying/desktop/1x/desk-tutor.webp" alt="Person" />
    </div>
    <div class="proccess-info">
      <h2 class="proccess-main-title">Як проходить купівля</h2>
      <div class="proccess-list">
        <div class="process-wrapper">
          <div class="icon-wrapper">
            <img
              class="proccess-icon"
              src="/img/main/buying/resume.svg"
              alt=""
              width="42px"
              height="42px"
            />
          </div>
          <div class="proccess-description-wrapper">
            <h3 class="proccess-title">Залишаєте нам заявку</h3>
            <p class="proccess-description">
              Ви залишаєтее заявку на сайті, або звязуєтесь з нами зручним для
              вас способом.
            </p>
          </div>
        </div>

        <div class="process-wrapper">
          <div class="icon-wrapper">
            <img
              class="proccess-icon"
              src="/img/main/buying/conversation.svg"
              alt=""
              width="42px"
              height="42px"
            />
          </div>
          <div class="proccess-description-wrapper">
            <h3 class="proccess-title">Заключаемо договір</h3>
            <p class="proccess-description">Ви вносите гарантійный депозит.</p>
          </div>
        </div>

        <div class="process-wrapper">
          <div class="icon-wrapper">
            <img
              class="proccess-icon"
              src="/img/main/buying/car.svg"
              alt=""
              width="42px"
              height="42px"
            />
          </div>
          <div class="proccess-description-wrapper">
            <h3 class="proccess-title">Підбір та купівля авто</h3>
            <p class="proccess-description">
              Вам пропонуються підходящі варіанти з аукционів, Ви приймаєте
              рішення, автомобіль викупається.
            </p>
          </div>
        </div>

        <div class="process-wrapper">
          <div class="icon-wrapper">
            <img
              class="proccess-icon"
              src="/img/main/buying/cargo.svg"
              alt=""
              width="42px"
              height="42px"
            />
          </div>
          <div class="proccess-description-wrapper">
            <h3 class="proccess-title">Доставка і оформлення</h3>
            <p class="proccess-description">
              Ми транспортуемо авто в порт США, вантажимо на судно та
              доставляємо у Львів, де проходить митне оформлення
            </p>
          </div>
        </div>

        <div class="process-wrapper">
          <div class="icon-wrapper">
            <img
              class="proccess-icon"
              src="/img/main/buying/truck.svg"
              alt=""
              width="42px"
              height="42px"
            />
          </div>
          <div class="proccess-description-wrapper">
            <h3 class="proccess-title">Доставка до вашего міста</h3>
            <p class="proccess-description">
              Ми доставляємо авто в будь-яке мітсо України вибраним Вами
              способом, або Ви самі забираєте його у Львові.
            </p>
          </div>
        </div>

        <div class="process-wrapper">
          <svg width="31px" height="31px" class="proccess-icon-send">
            <use href="/img/main/sprite.svg#icon-send"></use>
          </svg>
          <h3 class="proccess-title" data-modal-open>Залишити заявку</h3>
        </div>
      </div>
    </div>
  </div>
</section>
