<section class="comments">
  <div class="container comments-container">
    <h2 class="comments-title">Відгуки</h2>
    <ul class="comments-list">
      <li class="comments-list-item">
        <div class="comments-video-wrapper">
          <iframe
            width="202"
            height="134"
            src="https://www.youtube.com/embed/0a1dky9kp8w"
            frameborder="0"
            title="Відео-відгук Ірини"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          >
          </iframe>
          <ul class="comments-stars-list">
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
          </ul>
          <h3 class="comments-person-name">Ірина</h3>
          <p class="comments-car-type">Peugeot 308</p>
        </div>
      </li>
      <li class="comments-list-item">
        <div class="comments-video-wrapper">
          <iframe
            width="202"
            height="134"
            src="https://www.youtube.com/embed/SXV-QIaQQns"
            frameborder="0"
            title="Відео-відгук Антона"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          >
          </iframe>
          <ul class="comments-stars-list">
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
          </ul>
          <h3 class="comments-person-name">Антон</h3>
          <p class="comments-car-type">Kia Sorento 2018</p>
        </div>
      </li>
      <li class="comments-list-item">
        <div class="comments-video-wrapper">
          <iframe
            width="202"
            height="134"
            src="https://www.youtube.com/embed/COc3f4lQKDY"
            frameborder="0"
            title="Відео-відгук Віталія"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          >
          </iframe>
          <ul class="comments-stars-list">
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
          </ul>
          <h3 class="comments-person-name">Віталій</h3>
          <p class="comments-car-type">Kia k5</p>
        </div>
      </li>
      <li class="comments-list-item">
        <div class="comments-video-wrapper">
          <iframe
            width="202"
            height="134"
            src="https://www.youtube.com/embed/5IAr9kLXjdQ"
            frameborder="0"
            title="Відео-відгук Тимура"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          >
          </iframe>
          <ul class="comments-stars-list">
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
            <li class="comments-stars-item">
              <svg class="comments-star-icon" width="16" height="16">
                <use href="/img/main/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
          </ul>
          <h3 class="comments-person-name">Тимур</h3>
          <p class="comments-car-type">BMW 540</p>
        </div>
      </li>
    </ul>
    <a href="/comments.html" class="button-comments">Більше відгуків</a>
  </div>
</section>
