<section class="hero-section">
  <div class="hero-container container">
    <h1>Доставимо любе авто з Японії за 3 тижні</h1>
    <picture>
      <source
        srcset="
          /img/main/hero/mobile/1x/mob-banner.webp 1x,
          /img/main/hero/mobile/2x/mob-banner.webp 2x
        "
        media="(max-width: 767px)"
      />
      <img
        src="/img/main/hero/desktop/1x/desk-banner.webp"
        srcset="/img/main/hero/desktop/2x/desk-banner.webp 2x"
        alt="Автомобілі на дорозі"
        width="1080"
        height="316"
        loading="lazy"
      />
    </picture>
  </div>
</section>
