<section class="location">
  <div class="container location-container">
    <h2 class="location-title">Як звʼязатися з нами?</h2>
    <address class="location-contacts">
      <p class="location-text">вул. Юлія Чигирина, 13, Харків</p>
      <div class="location-box">
        <ul class="location-list1">
          <li class="location-list1-item">
            <svg class="location-list1-icon" width="21" height="21">
              <use href="/img/main/sprite.svg#icon-phone"></use>
            </svg>
            <a href="tel:+380680510202">
              <span class="location-list1-item-phone"
                >+38 (068) 051 02 02</span
              ></a
            >
            <span class="location-list1-item-text loc-l1-full"
              ><span class="location-list1-text-part">–</span> для замовлення
              авто</span
            >
          </li>
          <li class="location-list1-item">
            <svg class="location-list1-icon" width="21" height="21">
              <use href="/img/main/sprite.svg#icon-phone"></use>
            </svg>
            <a href="tel:+380680510202">
              <span class="location-list1-item-phone"
                >+38 (068) 051 02 02</span
              ></a
            >
            <span class="location-list1-item-text loc-l1-full">
              <span class="location-list1-text-part">–</span>
              для замовлення авто і мото техніки</span
            >
          </li>
          <li class="location-list1-item">
            <svg class="location-list1-icon" width="21" height="21">
              <use href="/img/main/sprite.svg#icon-phone"></use>
            </svg>
            <a href="tel:+380680510202">
              <span class="location-list1-item-phone"
                >+38 (068) 051 02 02</span
              ></a
            >
            <span class="location-list1-item-text loc-l1-full">
              <span class="location-list1-text-part">–</span>
              для замовлення спеціальної техніки</span
            >
          </li>
        </ul>
        <ul class="location-list2">
          <li class="location-list2-item">
            <svg class="location-contact-icon" width="21" height="21">
              <use href="/img/main/sprite.svg#icon-whatsapp-phone"></use>
            </svg>
            <a href="tel:+380680510202">+38 (068) 051 02 02</a>
          </li>
          <li class="location-list2-item">
            <svg class="location-contact-icon" width="21" height="21">
              <use href="/img/main/sprite.svg#icon-whatsapp-phone"></use>
            </svg>
            <a href="tel:+380680510202">+38 (068) 051 02 02</a>
          </li>
        </ul>
        <div class="location-mail-box">
          <svg class="location-mail-icon" width="20" height="20">
            <use href="/img/main/sprite.svg#icon-email"></use>
          </svg>
          <a class="location-mail" href="mailto:dslauto@gmail.com"
            >dslauto@gmail.com</a
          >
        </div>
      </div>
    </address>
  </div>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2565.0319993238395!2d36.24169587744906!3d49.99200952026534!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4127a1de5722ded1%3A0x2c0bb8ec3e6757e2!2zRFNMIEF1dG8gLSDQkNCy0YLQviDQuNC3INCa0L7RgNC10LgsINCh0KjQkCAsINCV0KE!5e0!3m2!1suk!2snl!4v1758661190877!5m2!1suk!2snl"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
</section>
