<section class="popular">
  <div class="container">
    <div class="popular-status">
      <h2 class="popular-title">Популярні автомобілі</h2>
      <div class="popular-status-box">
        <div class="popular-status-selection">
          <input
            class="popular-status-radio visually-hidden"
            type="radio"
            name="choose"
            id="all"
            value="all"
            checked
          />
          <label class="popular-status-subscription" for="all">
            <span class="status-selection-custom"></span>Будь-які</label
          >
        </div>
        <div class="popular-status-selection">
          <input
            class="popular-status-radio visually-hidden"
            type="radio"
            name="choose"
            id="access"
            value="access"
          />
          <label class="popular-status-subscription" for="access">
            <span class="status-selection-custom"></span>В наявності</label
          >
        </div>
        <div class="popular-status-selection">
          <input
            class="popular-status-radio visually-hidden"
            type="radio"
            name="choose"
            id="order"
            value="order"
          />
          <label class="popular-status-subscription" for="order">
            <span class="status-selection-custom"></span>Під замовлення</label
          >
        </div>
      </div>
    </div>
    <div class="popular-cars">
      <ul class="popular-cars-list"></ul>
      <a href="../../catalog.html" class="popular-cars-more">Показати ще</a>
    </div>
  </div>
</section>
<script type="module" src="./js/popular.js"></script>
