<section class="reviews">
  <div class="container">
    <h2 class="reviews-title">Наші огляди</h2>
    <ul class="reviews-list">
      <li class="review">
        <div class="review-image-container">
          <img
            class="review-image"
            src="/img/main/reviews/desktop/x1/Rectangle 8.png"
            alt=""
          />
        </div>
        <div class="review-desc">
          <h3 class="review-title">
            Космический Shuttle | HONDA FIT SHUTTLE 2013
          </h3>
          <ul class="review-info-list">
            <li class="review-info">391 просмотр</li>
            <li class="review-info">3 недели назад</li>
          </ul>
        </div>
      </li>
      <li class="review">
        <div class="review-image-container">
          <img
            class="review-image"
            src="/img/main/reviews/desktop/x1/Rectangle 8.png"
            alt=""
          />
        </div>
        <div class="review-desc">
          <h3 class="review-title">
            Космический Shuttle | HONDA FIT SHUTTLE 2013
          </h3>
          <ul class="review-info-list">
            <li class="review-info">391 просмотр</li>
            <li class="review-info">3 недели назад</li>
          </ul>
        </div>
      </li>
      <li class="review">
        <div class="review-image-container">
          <img
            class="review-image"
            src="/img/main/reviews/desktop/x1/Rectangle 8.png"
            alt=""
          />
        </div>
        <div class="review-desc">
          <h3 class="review-title">
            Космический Shuttle | HONDA FIT SHUTTLE 2013
          </h3>
          <ul class="review-info-list">
            <li class="review-info">391 просмотр</li>
            <li class="review-info">3 недели назад</li>
          </ul>
        </div>
      </li>
    </ul>
    <button class="more-btn">Більше відеооглядів</button>
  </div>
</section>
