<section class="reviews">
  <div class="container">
    <h2 class="reviews-title">Наши обзоры</h2>
    <ul class="reviews-list">
      <li class="reviews-list-item">
        <div class="reviews-list-item-image">
          <img src="/img/main/reviews/desktop/x1/Rectangle 8.png" alt="" />
        </div>
        <div class="reviews-list-item-desc">
          <h3 class="reviews-list-item-title">
            Космический Shuttle | HONDA FIT SHUTTLE 2013
          </h3>
          <div class="reviews-list-item-info">
            <p class="reviews-list-item-info-item">391 просмотр</p>
            <p class="reviews-list-item-info-item">3 недели назад</p>
          </div>
        </div>
      </li>
      <li class="reviews-list-item">
        <div class="reviews-list-item-image">
          <img src="/img/main/reviews/desktop/x1/Rectangle 8.png" alt="" />
        </div>
        <div class="reviews-list-item-desc">
          <h3 class="reviews-list-item-title">
            Космический Shuttle | HONDA FIT SHUTTLE 2013
          </h3>
          <div class="reviews-list-item-info">
            <p class="reviews-list-item-info-item">391 просмотр</p>
            <p class="reviews-list-item-info-item">3 недели назад</p>
          </div>
        </div>
      </li>
      <li class="reviews-list-item">
        <div class="reviews-list-item-image">
          <img src="/img/main/reviews/desktop/x1/Rectangle 8.png" alt="" />
        </div>
        <div class="reviews-list-item-desc">
          <h3 class="reviews-list-item-title">
            Космический Shuttle | HONDA FIT SHUTTLE 2013
          </h3>
          <div class="reviews-list-item-info">
            <p class="reviews-list-item-info-item">391 просмотр</p>
            <p class="reviews-list-item-info-item">3 недели назад</p>
          </div>
        </div>
      </li>
    </ul>
    <button class="reviews-button">Смотреть все обзоры</button>
  </div>
</section>
