@import "../mixins/media_mixin.scss";
@import "../../scss/base.scss";

/* #region  Title */
.title-wrapper{
    display: flex;
    column-gap: 12px;
    align-items: center;
    margin-bottom: 27px;
}
.car-title{
    font-size: 24;
    @include _1280{
        font-size: 32px;
    }
}

.in-stock{
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}
/* #endregion */


/* #region  Gallery */
.gallery-wrapper{
    margin-bottom: 24px;
}

.gallery-list{
    display: flex;
    flex-wrap: wrap;
    row-gap: 8px;
    @include _1280{
        flex-direction: row;
        column-gap: 8px;
    }
}


.gallery-item{
    @include _1280{
        flex-direction: row;
        width: 300px;
    }
}
/* #endregion */


.tabs {
  display: flex;
  flex-wrap: wrap;
//   margin: 2rem auto;
  max-width: 70ch;
  margin-bottom: 28px;

}

.tabs label {
  background: $color-white;
  color: $color-black;
  cursor: pointer;
  display: block;
  font-weight: 600;
  margin-right: 8px;
//   order: initial;
   padding: 1rem 2rem;
  transition: background ease 0.3s;
  width: 100%;
}

.tabs .tab-content {
  background: white;
  display: none;
  flex-grow: 1;
//   padding: 1rem;
padding: 10px;
  width: 100%;
}

.tabs input[type="radio"] {
  display: none;
}

.tabs input[type="radio"]:checked + label {
  
  border-bottom: 1px solid $color-red;
  color: $color-red;
}

.tabs input[type="radio"]:checked + label + .tab-content {
  display: block;
}

@media (min-width: 10em) {
  .tabs .tab-content {
    order: 99
  }
  
  .tabs label {
    order: 1;
  }
  
  .tabs label {
    margin-right: 0.3rem;
    margin-top: 0;
    width: auto;
  }
}


.buying-wrapper{
    display: flex;
    flex-direction: column;
    @include _1280{
        flex-direction: row;
    }
}
.tab1-characteristics{
    display: flex;
    flex-direction: column;
    @include _1280{
        flex-direction: row;
    }
}
.col1, .col2{
    width: 378px;
        display: flex;
        flex-direction: column;
        row-gap: 16px;    
}
.characteristic{
    color: $color-grey;
}
.characteristic-value{
    color: $color-black;
    font-weight: 500;
}


.additional-info-paragraph{
    // margin-top: 32px;
    margin-bottom: 24px;
}

.buying-block{
    padding: 16px 0;
    @include _1280{
        padding: 0;
    }
}
.buying-block-title{
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 8px;
}
.buying-block-price{
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 2px;
}
.buying-block-price-descr{
    font-size: 12px;
    color: $color-grey;
    margin-bottom: 32px;
}

.consult-button {
  font-weight: 500;
  font-size: 18px;
  color: $color-white;
  border-radius: 4px;
  padding: 16px 24px;
  width: 287px;
  background-color: $color-red;
  border: none;
  margin-bottom: 16px;
  border: 1px solid $color-red;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    background-color: #f1f1f1;
    color: $color-red;
    border: 1px solid $color-red;
    box-shadow: inset 0 0 3px 0 rgba(255, 53, 53, 0.3);
  }

  @include _1280 {
    font-size: 12px;
    font-weight: 500;
    padding: 16px 24px;
    width: 233px;
  }
}

.consult-button:active {
  border: 1px solid #d08f8f;
  box-shadow: inset 0 0 16px 0 rgba(255, 53, 53, 0.3);
}

.make-order-button {
  border: 1px solid #cacaca;
  border-radius: 4px;
  padding: 14px 24px;
  width: 287px;
  font-weight: 500;
  font-size: 16px;
  color: $color-red;
  background: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @include _1280 {
    font-size: 12px;
    padding: 14px 24px;
    width: 233px;
  }
  &:focus,
  &:hover {
    background-color: $color-red;
    color: $color-white;
    border: 1px solid $color-red;
    box-shadow: inset 0 0 3px 0 rgba(255, 53, 53, 0.3);
  }
}