@import "../mixins/media_mixin.scss";
@import "../../scss/base.scss";

//  .tabs-container {
//         width: 500px;
//         margin: 20px auto;
//     }

//     /* Скрываем радиокнопки */
//     .tabs-container input[type="radio"] {
//         display: none;
//     }

//     /* Стили для меток (кнопок вкладок) */
//     .tab-labels label {
//         display: inline-block;
//         padding: 10px 15px;
//         border: 1px solid #ccc;
//         cursor: pointer;
//         margin-right: 5px;
//         background-color: #f0f0f0;
//     }

//     /* Стили для активной вкладки */
//     .tabs-container input[type="radio"]:checked + .tab-labels label {
//         background-color: #ddd;
//         font-weight: bold;
//     }

//     /* Стили для контента */
//     .tab-content .content-panel {
//         display: none; /* Скрываем все панели по умолчанию */
//         padding: 20px;
//         border: 1px solid #ccc;
//     }

//     /* Показываем нужную панель */
//     .tabs-container #tab1:checked ~ .tab-content #content1,
//     .tabs-container #tab2:checked ~ .tab-content #content2,
//     .tabs-container #tab3:checked ~ .tab-content #content3 {
//         display: block; /* Показываем панель, соответствующую выбранной вкладке */
//     }


.title-wrapper{
    display: flex;
    column-gap: 12px;
    align-items: center;
    margin-bottom: 27px;
}
.car-title{
    font-size: 24;
    @include _1280{
        font-size: 32px;
    }
}

.in-stock{
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}
.gallery-wrapper{
    margin-bottom: 24px;
}

.gallery-list{
    display: flex;
    flex-wrap: wrap;
    row-gap: 8px;
    @include _1280{
        flex-direction: row;
        column-gap: 8px;
    }
}


.gallery-item{
    @include _1280{
        flex-direction: row;
        width: 300px;
    }
    
}
.tabs{
    margin-bottom: 26px;
}
.tabs-list {
    display: flex;
    justify-content: space-between;
}

.tabs-list {
    display: flex;
    align-items: flex-start;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.tabs-list::-webkit-scrollbar {
   display: none;
}
.tab-item{
    padding: 4px;
}

.buying-wrapper{
    display: flex;
    flex-direction: column;
    @include _1280{
        flex-direction: row;
    }
}
.tab1-characteristics{
    display: flex;
    flex-direction: column;
    @include _1280{
        flex-direction: row;
    }
    
    display: block;
    display: none;
}
.row1, .row2{
    width: 378px;
        display: flex;
        flex-direction: column;
        row-gap: 16px;    
}
.characteristic{
    color: $color-grey;
}
.characteristic-value{
    color: $color-black;
    font-weight: 500;
}

.tab2-additional-info{
    display: block;
    display: none;
}

.tab3-reviews{
    display: none;
    display: block;
}

.info{
    display: flex;
    margin-bottom: 28px;
}

.additional-info-paragraph{
    margin-top: 32px;
}

.buying-block{
    padding: 16px 0;
    @include _1280{
        padding: 0;
    }
}
.buying-block-title{
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 8px;
}
.buying-block-price{
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 2px;
}
.buying-block-price-descr{
    font-size: 12px;
    color: $color-grey;
    margin-bottom: 32px;
}

.consult-button {
  font-weight: 500;
  font-size: 18px;
  color: $color-white;
  border-radius: 4px;
  padding: 16px 24px;
  width: 287px;
  background-color: $color-red;
  border: none;
  margin-bottom: 16px;
  border: 1px solid $color-red;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    background-color: #f1f1f1;
    color: $color-red;
    border: 1px solid $color-red;
    box-shadow: inset 0 0 3px 0 rgba(255, 53, 53, 0.3);
  }

  @include _1280 {
    font-size: 12px;
    font-weight: 500;
    padding: 16px 24px;
    width: 233px;
  }
}

.consult-button:active {
  border: 1px solid #d08f8f;
  box-shadow: inset 0 0 16px 0 rgba(255, 53, 53, 0.3);
}

.make-order-button {
  border: 1px solid #cacaca;
  border-radius: 4px;
  padding: 14px 24px;
  width: 287px;
  font-weight: 500;
  font-size: 16px;
  color: $color-red;
  background: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @include _1280 {
    font-size: 12px;
    padding: 14px 24px;
    width: 233px;
  }
  &:focus,
  &:hover {
    background-color: $color-red;
    color: $color-white;
    border: 1px solid $color-red;
    box-shadow: inset 0 0 3px 0 rgba(255, 53, 53, 0.3);
  }
}