<div class="container">
  <h1>BWM X7</h1>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta illum ad
    velit ipsam dolore eos culpa deserunt est magnam necessitatibus assumenda
    iure minus debitis voluptatibus recusandae, at obcaecati esse consequatur!
  </p>
  <ul class="car-list">
    <li>
      <img
        src="https://cdn0.riastatic.com/photosnew/auto/photo/bmw_x7__613453160bx.webp"
      />
    </li>
    <li>
      <img
        src="https://cdn0.riastatic.com/photosnew/auto/photo/bmw_x7__613453160bx.webp"
        alt=""
      />
    </li>
  </ul>
</div>
