@import '../base.scss';
.popular {
  padding-top: 544px;
  background-color: $color-white;
}
.popular-status {
  margin-bottom: 28px;
}
.popular-title {
  font-size: 24px;
  margin-bottom: 16px;
}
.popular-status-box {
  display: flex;
  align-items: center;
  gap: 15px;
}
.popular-status-subscription {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
}
.popular-status-radio.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  pointer-events: none;
}
.status-selection-custom {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid #d3d3d3;
  box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
  display: block;
  cursor: pointer;
}
.status-selection-custom {
  &:hover,
  &:focus {
    border: 1px solid $color-red;
  }
}
.popular-status-radio:checked {
  + .popular-status-subscription {
    > .status-selection-custom {
      border: 4px solid $color-red;
    }
  }
}
.popular-cars {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.popular-cars-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.popular-cars-item {
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  padding: 15px;
}
.popular-cars-box {
  &::after {
    content: '';
    display: block;
    border: 1px solid #e7e7e7;
    width: 287px;
    height: 0;
    margin: 16px 0;
  }
}
.popular-cars-main {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.popular-cars-photo {
  border-radius: 2px;
}
.popular-cars-title {
  font-size: 22px;
  margin-bottom: 8px;
  line-height: normal;
}
.popular-cars-link {
  &:hover {
    color: $color-red;
  }
}
.popular-cars-tech {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 12px;
  line-height: normal;
}
.cars-tech-property,
.cars-transmission-property {
  font-weight: 500;
  font-size: 16px;
}
.cars-tech-property >,
.cars-transmission-property > {
  span {
    color: $color-grey;
  }
}
.popular-cars-transmission {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.popular-cars-shop {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.cars-shop-city {
  font-weight: 500;
  font-size: 14px;
  color: $color-grey;
}
.cars-shop-price {
  font-weight: 700;
  font-size: 24px;
  color: $color-black;
}
.cars-shop-status {
  font-weight: 500;
  font-size: 13px;
  color: $color-white;
}
.cars-shop-status.in-stock,
.cars-shop-status.to-order {
  border-radius: 35px;
  padding: 8px 16px;
  max-width: fit-content;
}
.cars-shop-status.in-stock {
  background-color: $color-green;
}
.cars-shop-status.to-order {
  background-color: $color-yellow;
}
.popular-cars-more {
  display: block;
  font-weight: 500;
  font-size: 17px;
  color: $color-black;
  border-radius: 4px;
  padding: 16px;
  width: 335px;
  height: 53px;
  background-color: $color-links;
  border: none;
}
@media only screen and (min-width: 1280px) {
  .popular {
    padding-top: 135px;
  }
  .popular-status {
    margin-bottom: 24px;
    padding-left: 15px;
  }
  .popular-status-box {
    gap: 24px;
  }
  .popular-status-subscription {
    font-size: 14px;
  }
  .popular-cars-item {
    display: flex;
    align-items: flex-start;
  }
  .popular-cars-box {
    display: flex;
    align-items: flex-start;
    gap: 49px;
  }
  .popular-cars-main {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }
  .popular-cars-box::after {
    content: '';
    display: none;
  }
  .popular-cars-alone {
    padding-top: 8px;
  }
  .popular-cars-tech {
    gap: 8px;
    margin-bottom: 0;
  }
  .cars-tech-property,
  .cars-transmission-property {
    font-size: 14px;
  }
  .popular-cars-transmission {
    padding-top: 44px;
    gap: 8px;
  }
  .popular-cars-shop {
    margin-left: auto;
    margin-right: 17px;
    padding-top: 42px;
  }
  .popular-cars-more {
    font-size: 13px;
    display: block;
    padding: 6px 16px;
    width: 100%;
    height: 42px;
  }
}
