<section class="callback">
  <div class="callback-overlay" id="callback" data-modal="callback">
    <div class="callback-container">
      <p>Зворотній зв'язок</p>
      <button class="callback-close-btn" type="button" data-modal-close>
        <svg class="icon-close" width="8" height="8">
          <use href="/img/main/sprite.svg#icon-close"></use>
        </svg>
      </button>
      <form class="callback-form" action="#" method="post">
        <div class="callback-content">
          <div class="callback-content-input">
            <label class="callback-label" for="name"> Введіть ваше ім'я </label>
            <input
              class="callback-input"
              type="text"
              name="name"
              id="name"
              placeholder="Ввести ім'я"
              required
            />
          </div>
          <div class="callback-content-input">
            <label class="callback-label" for="phone">
              Введіть ваш телефон
            </label>
            <input
              class="callback-input"
              type="tel"
              name="phone"
              id="phone"
              placeholder="+380"
              required
            />
          </div>
        </div>
        <button class="callback-button" type="submit">
          Замовити безкоштовну консультацію
        </button>
      </form>
    </div>
  </div>
</section>
