<section class="">
  <div class="container">
    <div class="filter">
      <p>Фільтри</p>
      <select name="Brand">
        <option value="1">BWM</option>
        <option value="2">Audi</option>
        <option value="3">Toyota</option>
        <option value="4">Mazda</option>
        <option value="5">Hyundai</option>
        <option value="6">Ford</option>
      </select>
      <select name="Model">
        <option value="1">X1</option>
        <option value="2">X3</option>
        <option value="3">X5</option>
        <option value="4">X6</option>
        <option value="5">X7</option>
      </select>
      <p>Авто у наявності: <span>256</span></p>
  </div>
</section>
