<footer class="footer">
  <div class="container">
    <div class="footer-wrapper">
      <div>
        <p class="footer-title">&copy;Tosei Всі права захищені</p>
        <p class="footer-text">
          Продаж вантажної і спецтехніки, легкових автомобілей, водної техніки.
          Будь-яка техніка з Японії, США, Кореї, Китая і Сингапура. Авто з
          аукціонів.
        </p>
      </div>
      <div>Тел: 3809955533311</div>
      <div>Email: dsl@gmail.com</div>
    </div>
  </div>
</footer>
