<footer class="footer">
  <div class="container">
    <div class="footer-wrapper">
      <div>
        <a
          href="#"
          class="footer-logo-link"
          aria-label="Перейти на головну сторінку"
        >
          <svg
            class="footer-logo-icon"
            width="34"
            height="34"
            aria-label="logo"
          >
            <use href="/img/main/sprite.svg#icon-logo"></use>
          </svg>
          <span>DSL Auto</span>
        </a>
        <p class="footer-text">
          Продаж вантажної і спецтехніки, легкових автомобілей, водної техніки.
          Будь-яка техніка з Японії, США, Кореї, Китая і Сингапура. Авто з
          аукціонів.
        </p>
      </div>
      <ul class="footer-contacts-list">
        <li class="footer-contacts-list-item">
          <svg class="" width="21" height="21">
            <use href="/img/main/sprite.svg#icon-whatsapp-phone"></use>
          </svg>
          <a href="tel:+380680510202">+38 (068) 051 02 02</a>
        </li>
        <li class="footer-contacts-list-item">
          <svg class="" width="21" height="21">
            <use href="/img/main/sprite.svg#icon-whatsapp-phone"></use>
          </svg>
          <a href="tel:+380680510202">+38 (068) 051 02 02</a>
        </li>
      </ul>
      <div class="footer-box">
        <div class="footer-mail-box">
          <svg class="footer-mail-icon" width="20" height="20">
            <use href="/img/main/sprite.svg#icon-email"></use>
          </svg>
          <a class="footer-mail" href="mailto:dslauto@gmail.com"
            >dslauto@gmail.com</a
          >
        </div>
        <address>
          <a
            class="footer-location-link"
            href="https://www.google.com/maps/dir/?api=1&destination=49.99215091898941, 36.24427079819049"
            target="_blank"
          >
            <svg class="footer-location-icon" width="20" height="20">
              <use href="/img/main/sprite.svg#icon-location"></use>
            </svg>
            вул. Юлія Чигирина, 13, Харків
          </a>
        </address>
      </div>
    </div>
    <p class="footer-copyright">&copy;DSLauto 2025 Всі права захищені</p>
  </div>
</footer>
