<header class="header">
  <div class="container">
    <div class="wrapper">
      <p class="paragraph">Автомобілі з Японії з доставкою по всій Україні</p>
      <address>
        <a
          href="tel:+380995553311"
          aria-label="Зателефонувати на +(380) 99-555-33-11"
        >
          099-555-33-11
        </a>
      </address>
      <div class="mobile-container">
        <svg class="mobile-icon" width="24" height="24" aria-label="logo">
          <use href="/src/img/main/sprite.svg#icon-logo"></use>
        </svg>
        <button class="mobile-btn" type="button" aria-label="Відкрити меню">
          <svg class="mobile-btn-icon" width="24" height="24">
            <use href="/src/img/main/sprite.svg#icon-burger"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>
