<section class="contactus">
  <div class="contactus-modal-overlay is-open">
    <div class="modal-contactus">
      <p class="modal-contactus-text">Написати нам</p>
      <form class="contactus-form" action="" method="post">
        <div class="contactus-group">
          <label class="contactus-label" for="username">
            Ваше ім'я
            <input
              class="contactus-input"
              type="text"
              id="username"
              name="username"
              placeholder="ввести"
            />
          </label>
        </div>
        <div class="contactus-group">
          <label class="contactus-label" for="phone">
            Контактний телефон
            <input
              class="contactus-input"
              type="tel"
              name="phone"
              placeholder="+38"
            />
          </label>
        </div>
        <div class="contactus-group-textarea">
          <label class="contactus-label" for="message">
            Ваше повідомлення
            <textarea
              class="contactus-input-textarea"
              name="message"
              id="message"
              placeholder="введіть текст"
            ></textarea>
          </label>
        </div>
        <button class="contactus-send-button" type="submit">Відправити</button>
      </form>
    </div>
  </div>
</section>
