.comments-container {
    width: 100%;
}
.comments-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 23px;
}

.comments-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 28px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.comments-list::-webkit-scrollbar {
   display: none;
}

iframe {
    margin-bottom: 16px;
}

.comments-person-name {
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 4px;
}

.comments-car-type {
    font-weight: 500;
    line-height: 1.4;
    color: var(--color-grey);
}

.comments-stars-list {
    display: flex;
    flex-direction: row;
    margin-bottom: 4px;
}

.comments-star-icon {
    display: block;
    fill: var(--color-stars-fill);
    border: 1px solid var(--color-white);
}

.button-comments {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 4px;
    border-radius: 4px;
    padding: 16px;
    width: 335px;
    height: 53px;
    background: var(--color-links);
    font-weight: 500;
    font-size: 17px;
    color: var(--color-black);
    text-align: center;
}

@media only screen and (min-width: 1280px) {
    .comments-title {
       text-align: center;
       margin: 0 auto;
       margin-bottom: 50px;
    }

    .comments-list {
      justify-content: center;
      align-items: center;
      gap: 64px;
      margin-bottom: 50px;
    }

    .button-comments {
      padding: 6 px 16px;
      width: 100%;
      height: 42px;
      font-size: 13px;
      color: var(--color-anchors);
    }
}