:root {
  --color-light-grey: #c7cad1;
  --color-grey: #8b8b8b;
  --color-black: #000;
  --color-red: #cd0000;
  --color-white: #fff;
  --color-green: #73db43;
  --color-yellow: #ebb428;

  --font-family: 'Montserrat', sans-serif;
}

body {
  background-color: var(--color-white);
  color: var(--color-black);
  font-family: var(--font-family);
  font-size: 14px;
}