:root {
  --color-light-grey: #c7cad1;
  --color-grey: #8b8b8b;
  --color-black: #000;
  --color-red: #cd0000;
  --color-white: #fff;
  --color-green: #73db43;
  --color-yellow: #ebb428;
  --color-dark-grey: #1f1f1f;
  --color-links: #F4F4F4;
  --color-stars-fill: #EFC85F;
  --color-stars-stroke: #E9E9E9;
  --color-anchors: #2c2c2c;

  --font-family: 'Montserrat', sans-serif;
}

body {
  background-color: var(--color-white);
  color: var(--color-black);
  font-family: var(--font-family);
  font-size: 14px;
}