:root {
  --style: #c7cad1;
  --8b8b8b: #8b8b8b;
  --000000: #000;
  --cd0000: #cd0000;
  --color-white: #fff;

  --font-family: 'Montserrat', sans-serif;
  --second-family: 'Inter', sans-serif;
}

body {
  body {
    background-color: var(--color-white);
    color: var(--000000);
    font-family: var(--font-family);
    font-size: 14px;
  }
}
