/* Styles for Mobile devices */
.layout {
    min-width: 320px;
    max-width: 375px;
    margin: 0 auto;
  }
  
  /* Styles for Desktop devices */
  @media only screen and (min-width: 1280px) {
    .layout {
      max-width: 1280px;
      display: flex;
      border: 1px dashed #20365f;
    }
  }