@import './base.scss';
@import './container.scss';
@import './reset.scss';

.header-container {
  background-color: $color-white;
}
.mobile-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  //   background-color: $color-white;
}

.container {
}
.header-wrapper {
}
.paragraph {
}
.mobile-container {
}
.logo-link {
  font-weight: 700;
  font-size: 34px;
  color: $color-black;
  display: flex;
  align-items: center;
  gap: 13px;
}
.mobile-icon {
  width: 40px;
  height: 40px;
}
.mobile-btn {
  width: 40px;
  height: 40px;
  border: none;
  background-color: #1f1f1f;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.mobile-btn-icon {
  fill: $color-white;
}

@media screen and (max-width: 767px) {
  .header-wrapper {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .mobile-container {
    display: none;
  }
  .header-wrapper {
    padding: 33px 0;
    display: flex;
    justify-content: space-between;

    & > p {
      width: 195px;
    }
  }
}

.header-phone {
  font-weight: 700;
  font-size: 22px;
  color: $color-red;
  font-style: normal;
}
