@import './base.scss';
@import './mixins/media_mixin.scss';

@media (max-width: 1279px) {
  .sidebar {
    display: none;
  }
}

.sidebar {
  min-height: 100%;
  width: 200px;
  background-color: $color-sidebar-bg;
}

.logo-link-sidebar {
  font-size: 22px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 8px;
}

.sidebar-container {
  position: sticky;
  top: 0;
  padding: 28px 26px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.sidebar-list {
  display: flex;
  flex-direction: column;
  gap: 12px;

  &-item {
    position: relative;
    font-weight: 600;
    font-size: 16px;
    padding: 8px 26px;
    transition: color 250ms ease-in-out;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -1px;
      width: 3px;
      height: 100%;
      box-shadow: -3px 0 0 0 $color-grey;
      opacity: 0;
      transition: opacity 300ms ease, box-shadow 300ms ease;
    }

    &:hover,
    &:focus {
      color: $color-grey;

      &::after {
        opacity: 1;
      }
    }

    &.current {
      color: $color-grey;

      &::after {
        box-shadow: -3px 0 0 0 $color-red;
        opacity: 1;
      }
    }
  }
}

.socials-sidebar {
  display: flex;
  width: 100%;
  min-height: 200px;

  &-icons {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 8px;
  }
}
