<section class="">
  <div class="container">
    <h1 class="car-title">Mazda CX-3 2017</h1>
    <button class="order-btn">Під замовлення</button>
    <ul class="gallery-list">
      <li class="gallery-item">
        <a href="" class="gallery-item-link"><img src="" alt="" /></a>
      </li>
      <li class="gallery-item">
        <a href="" class="gallery-item-link"><img src="" alt="" /></a>
      </li>
      <li class="gallery-item">
        <a href="" class="gallery-item-link"><img src="" alt="" /></a>
      </li>
    </ul>
    <nav class="tabs">
      <ul class="tabs-list">
        <li class="tab-item">
          <a href="" class="tab-item-link">Характеристики</a>
        </li>
        <li class="tab-item">
          <a href="" class="tab-item-link">Додаткова інформація</a>
        </li>
        <li class="tab-item">
          <a href="" class="tab-item-link">Відеоогляд</a>
        </li>
      </ul>
    </nav>
    <div class="tab1-characteristics">
      <p>Виробник: <span>Mazda</span></p>
      <p>Рік: <span>2017</span></p>
      <p>Тип кузова: <span>Позашляховик</span></p>
      <p>Колір: <span>Білий</span></p>
      <p>Пробіг: <span>40 000 км</span></p>
      <p>Тип приводу: <span>4wd</span></p>
      <p>Двигун: <span>Бензин (1.5 л.)</span></p>
      <p>Потужність: <span>235 к.с.</span></p>
      <p>КП: <span>Автомат</span></p>
      <p>Аукціон: <span>COPART</span></p>
      <p>Оцінка: <span>4,5</span></p>
      <p>Дата: <span>23.09.2025</span></p>
      <p>Країна: <span>США</span></p>
    </div>

    <div class="tab2-additional-info">
      <p class="additional-info-paragraph">
        Внешний вид нового Mazda CX-3 2017 действительно не дотягивает до
        полноразмерного кроссовера. Небольшой кузов, невысокая посадка и
        компактные формы. По внешнему виду дизайнеры попытались создать новый
        автомобиль, но при этом сохранив современные и узнаваемые черты компании
        Mazda.
      </p>

      <p class="additional-info-paragraph">
        Переднюю часть кроссовера Mazda CX-3 2017 занимает хорошо узнаваемая
        решетка радиатора, с зауженной часть внизу. В зависимости от
        комплектации решетка с горизонтальными планками может быть черной или
        хромированной, но в любом варианте с хромированной окантовкой. Центр
        решетки радиатора занимает необычная эмблема компании, в нее инженеры
        вмонтировали переднюю камеру и несколько датчиков.
      </p>

      <p class="additional-info-paragraph">
        Передняя оптика в зависимости от комплектации Mazda CX-3 2017 может быть
        на основе галогенок. В максимальной комплектации кроссовера установлена
        светодиодная адаптивная оптика. В любой с комплектаций оптика сделана
        таким образом, что внутри повторяет часть хромированной окантовки
        решетки радиатора, тем самым создавая впечатление, что в оптику
        вмонтировали часть решетки. Нижнюю часть бампера украшает дополнительная
        решетка радиатора. Боковую часть бампера в зависимости от комплектации
        будут установлены противотуманки или комплект светодиодных
        противотуманок со светодиодными дневными ходовыми огнями.
      </p>
    </div>

    <div class="tab3-additional-info">
      <div class="review">
        <div class="review-image-container">
          <img
            class="review-image"
            src="/img/main/reviews/desktop/x1/Rectangle 8.png"
            alt=""
          />
        </div>
        <div class="review-desc">
          <h3 class="review-title">
            Космический Shuttle | HONDA FIT SHUTTLE 2013
          </h3>
          <ul class="review-info-list">
            <li class="review-info">391 просмотр</li>
            <li class="review-info">3 недели назад</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="buying-block">
      <p>Ціна в Україні</p>
      <p>800 000 грн.</p>
      <p>Ціна вказаназ урахуванням ПДВ</p>
      <button class="consultation">Отримати консультацію</button>
      <button class="make-order">Залишти заявку</button>
    </div>
  </div>
</section>
