<section class="">
  <div class="container">
    <h2 class="information-subtitle">Як читати аукціонний лист</h2>
    <p class="information-text">
      Аукціонний лист - це папір з купою японських ієрогліфів і незрозумілих
      символів. Ми навчимо вас це все розшифровувати.
    </p>
    <p class="information-text">
      Аукціонний лист заповнюють експерти під час огляду автомобіля перед
      виставленням на аукціон. У ньому детально описується стан машини, її
      комплектація та всі опції, а також вказуються всі дефекти і виставляється
      аукціонна оцінка.
    </p>
    <p class="information-text">
      Завжди вказується номер лота і докладні дані про автомобіль – починаючи
      від пробігу, його історії та року першої реєстрації, і закінчуючи
      переліком встановленого додаткового обладнання та зазначенням кольору
      кузова і салону.
    </p>
    <p class="information-text">
      На аукціонних листах практично завжди присутнє схематичне зображення
      кузова, де вказані різні комбінації букв і цифр. Великими літерами
      позначають тип дефекту, а цифрами – його ступінь. Оптимальне
      співвідношення ціна-якість – у машин з оцінками 3, 3,5, 4, віком 3, 5 або
      7 років (автомобілі саме такого віку зазвичай і продаються на аукціонах).
    </p>
    <p class="information-text">
      Погана оцінка експертами аукціону може мати різні причини. Наприклад,
      знижує оцінку великий пробіг. Оцінки, що означають, що автомобіль
      ремонтувався, можуть означати що завгодно: що автомобіль потрапив в
      аварію, що він переніс дрібний ремонт, капітальний ремонт, хороший ремонт
      або поганий. Іноді через різницю в системах оцінки автомобіль, який
      отримав на одному аукціоні оцінку 0, може отримати на іншому оцінку 3,5.
    </p>
    <p class="information-text">
      На фото ми навели приклади різних аукціонних листів, а також розшифровку
      позначень:
    </p>
    <picture>
      <source
        media="(min-width:1280px)"
        srcset="
          /img/information/sample-desk.jpg    1x,
          /img/information/sample-desk@2x.jpg 2x
        "
      />
      <source
        media="(min-width:320px)"
        srcset="
          /img/information/sample-mob.jpg    1x,
          /img/information/sample-mob@2x.jpg 2x
        "
      />
      <img
        class=""
        src="/src/img/information/sample-mob.jpg"
        alt="Sample auction list"
      />
    </picture>
    <!-- <button class="feedback-btn" id="open-feedback-modal" type="button"> -->
    <svg class="feedback-icon" width="56" height="56">
      <use href="/img/main/sprite.svg#icon-feedback-phone"></use>
    </svg>
    <!-- </button> -->
  </div>
</section>
