@use '/scss/base.scss' as *;
@use '/scss/mixins/media_mixin.scss' as media;
.catalog-title {
  font-size: 32px;
  color: $color-black;
  margin-bottom: 24px;
}
.catalog-title {
  display: none;

  @include media.desktop {
    display: block;
  }
}
// @import '/scss/index/popular.scss';
